Binaries
DerivedDataCache
Intermediate
Saved
Build
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Echoes of Time.docx
Content/Maps/PolygonBank/FuturePolygonBank_BuiltData.uasset
Content/Maps/PolygonBank/PastPolygonBank_BuiltData.uasset
Content/Maps/PolygonBank/PersistentPolygonBank_BuiltData.uasset
Content/Maps/Bank/PersistentBank_BuiltData.uasset
Content/Maps/Bank/PastBank_BuiltData.uasset
Content/Maps/Bank/FutureBank_BuiltData.uasset
